%h1.topbar Eartraining

- @exercises.each do |exercise|
  .row
    .small-12.columns
      = link_to exercise do 
        .exercise_link
          %h3= exercise.title
          %span points: #{exercise.points}
          .exercise_link__arrow &#8618;
