= link_to dashboard_index_url do
  .sidebar-menu-button#sidebar-menu-button
    &#8592;
.sidebar.hide#sidebar-menu
  .row
    .small-columns-12
      %h3.sidebar__title Freeform Exercise
      %ul.breadcrumbs
        %li.breadcrumbs__item Lesson 1
        %li.breadcrumbs__item Lesson 2
        %li.breadcrumbs__item Lesson 3


