- content_for :javascript_files do
  = javascript_include_tag :home
.hero
  .row
    .small-12.medium-10.medium-centered.columns
      %h1.hero__header Ear Training
  .row
    .small-12.medium-10.medium-centered.columns
      %h4.hero__subheader Learn music theory by listening
  .row
    .small-12.medium-4.medium-centered.columns
      = link_to new_user_registration_url do
        .button.register_button Sign up
    .small-12.medium-4.medium-centered.columns
      = link_to new_user_session_url do
        .button.register_button Log in

.feature_grid
  .row.align-center
    .small-4.columns.feature_block
      .feature_block__image.feature_block__image--lessons
      .feature_block__header
        Lessons
      .feature_block__subheader
        that teach you music theory
    .small-4.columns.feature_block
      .feature_block__image.feature_block__image--exercises
      .feature_block__header
        Exercises 
      .feature_block__subheader
        that help you learn
    .small-4.columns.feature_block
      .feature_block__image.feature_block__image--training
      .feature_block__header
        Training 
      .feature_block__subheader
        that trains your ears
        
.feature_showcase
  .row
    .small-12.columns
      .feature_showcase__img.feature_showcase__img--product
  .row
    .small-12.columns
      %h3.feature_showcase__header Sign up now to get access to the alpha! 

.demo
  #exercise
    %h1.topbar 
      Demo of an exercise
    .exercise_container
      .row 
        .small-12.columns
          <div v-cloak>
          <h1 class='exercise__message' v-if="exercise_amount < 1">Good job!</h1>
          <h3 class='exercise__message' v-if="exercise_amount < 1">you earned: {{all_points}} points</h3>
          <a class='exercise__back_link'href='/dashboard/index' v-if="exercise_amount < 1">&#8592; back</a>
          <template v-for="(snippet, index) in exercise.json_data">
          <snippet v-on:add_points='add_points' :snippet_data='snippet' :index='index' v-on:delete="delete_snippet(index)"></snippet>
          </template>
          </div>

