.sidebar
  border-right: 1px solid $border-color
  background-color: $sidebar-background-color
  color: #EEEEEE
  height: 100%
  width: 240px
  left: 0
  position: fixed
  padding-top: 64px
.sidebar-menu-button
  z-index: 10
  position: absolute
  left: 8px
  top: 8px
  width: 32px 
  height: 32px
  border-radius: 100%
  background-color: #EEEEEE
  box-shadow: 1px 1px 1px 1px #bfbfbf
  transition: all 0.4s
  &:hover
    transform: scale(1.2)
  &:active
    box-shadow: inset 1px 1px 1px 1px #bfbfbf
  &__line
    display: block
    height: 1px
    position: relative
    background-color: #bfbfbf
    margin: auto
    &--1
      top: 11px
      width: 16px
    &--2
      top: 15px
      width: 18px
    &--3
      top: 19px
      width: 16px
.sidebar-menu-button.sidebar-menu-button--close
  .sidebar-menu-button__line
    &--1
      top: 16px
      transform: rotate(-45deg)
    &--2
      display: none
    &--3
      top: 16px
      transform: rotate(45deg)

.sidebar__title
  padding-left: 10px

.breadcrumbs
  padding-left: 14px
  &__item
    display: block
    color: #EEEEEE !important
    ::after
      content: "a" !important
      width: 1px
      display: block
