.sidebar-menu
  position: absolute
  left: 20px
  top: 20px
  width: 32px 
  height: 32px
  border-radius: 100%
  background-color: #EEEEEE
  box-shadow: 1px 1px 1px 1px #bfbfbf
  transition: all 0.4s
  &:hover
    transform: scale(1.2)
  &__line
    display: block
    height: 1px
    position: relative
    background-color: #bfbfbf
    margin: auto
    &--1
      top: 11px
      width: 16px
    &--2
      top: 15px
      width: 18px
    &--3
      top: 19px
      width: 16px
.sidebar
  border-right: 1px solid $border-color
  background-color: $gray-background-color
  height: 100%
  width: 240px
  left: 0
  position: fixed

.breadcrumbs
  &__item
    display: block
    ::after
      content: "a" !important
      width: 1px
      display: block
