// Place all the styles related to the exercise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import url(https://fonts.googleapis.com/css?family=Bree+Serif)


// 120 x 16 = 1920
// sidebar: 15 x 16
[v-cloak]
  display: none

.exercise_container 
  top: 32px

.topbar
  text-align: center
  background-color: gold
.topbar__user
  float: right
  font-size: 14px
  margin-right: 16px
  line-height: 4.7

.exercise_link
  padding: 8px 16px
  background-color: $border-color 
  transition: all 200ms
  color: black
  &__arrow
    display: inline-block
    float: right
  &:hover
    transform: scale(1.05) 
    background-color: $almost-black-color
    color: white

.snippet
  padding: 14px
  padding-top: 10px
  border: 1px solid $border-color
  box-shadow: 2px 2px 10px 1px $border-color 
  display: inline-block
  width: 328px
  margin: 8px 4px
  float: left
  background-color: white

  &__container
    display: inline-block

  &__points
    float: right
    margin-bottom: 8px
    border-radius: 2px
    width: 24px
    height: 24px
    padding: 2px
    background-color: gold
    color: black

  &__canvas
    display: block
    box-shadow: 0px 1px 1px 1px $border-color 
    transition: all 200ms
    margin-bottom: 32px
    background-color: $light-grey-background-color 
    &:hover
      cursor: pointer
      transform: scale(1.02)
      box-shadow: 2px 2px 2px 2px $border-color 
    &--dark-background
      background-color: $light-grey-background-color
  &__playbar
    height: 100%
    width: 1px
    background-color: $border-color

  &__section
    display: inline-block
    border: 1px solid $border-color
    width: 80px
    height: 88px
    float: left
    margin-left: 8px
    padding: 8px
    box-shadow: 1px 1px 1px $border-color 
    &--small
      height: 34px 
      padding: 0px
    &--wide
      width: 241px

  &__play
    display: inline-block
    float: left
    background-color: $border-color 
    color: black
    border: 1px solid $border-color
    transition: all 200ms
    &:hover
      background-color: $almost-black-color
      color: white
    &:focus
      background-color: $almost-black-color
      color: white

  &-enter-active
    transition: all .3s ease
  &-leave-active
    transition: all .3s ease
  &-enter, &-leave-to, &-leave-active
    opacity: 0

.controls
  
  &__slider
    height: 1px
    width: 64px
    margin: 0px 8px 0px 8px

.answer_input
  margin: -14px
  padding-bottom: 4px
  background-color: $dark-grey-color
  &__menu
    margin: 0
    list-style-type: none
    padding: 4px

  &__li
    padding: 4px 8px
    box-shadow: 1px 1px 1px $border-color 
    margin: 2px 4px
    display: inline-block
    transition: all 200ms
    background-color: white 
    color: black
    &:hover
      cursor: pointer
      transform: scale(1.1)
      color: white
      background-color: black
