// Place all the styles related to the exercise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import url(https://fonts.googleapis.com/css?family=Bree+Serif)

.exercise_container 
  position: relative
  left: 7rem

.snippet
  padding: 8px
  border: 1px solid $border-color
  box-shadow: 1px 1px 1px $border-color 
  display: inline-block
