// Place all the styles related to the exercise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import url(https://fonts.googleapis.com/css?family=Bree+Serif)


// 120 x 16 = 1920
// sidebar: 15 x 16
.exercise_container 
  position: absolute 
  left: 240px

.snippet
  padding: 8px
  border: 1px solid $border-color
  box-shadow: 1px 1px 1px $border-color 
  display: inline-block
  width: 352px
  margin-left: 8px
  margin-bottom: 8px
  float: left

  &__container
    display: inline-block

  &__canvas
    display: inline-block
    float: left
    border: 1px solid $border-color
    box-shadow: 1px 1px 1px $border-color 
  &__playbar
    height: 100%
    width: 1px
    background-color: $border-color

  &__section
    display: inline-block
    border: 1px solid $border-color
    width: 80px
    height: 88px
    float: left
    margin-left: 8px
    padding: 8px
    box-shadow: 1px 1px 1px $border-color 
    &--small
      height: 34px 
    &--wide
      width: 154px

  &__play
    display: inline-block
    float: left

.controls
  
  &__gain
    display: block
    height: 62px
    width: 2px
    margin: auto
    -webkit-appearance: slider-vertical
