
@media screen and (min-width: 532px) and (max-width: 992px){
  .input-circle{
    display: block !important;
    height: 79px;
    width: 506px;
    margin: auto;
  }
}
.input-circle{
  list-style-type: none;
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.56);
  border-radius: 4px;
  padding: 0;
}
.input-circle-slice{
  display: inline-block;
  float: left;
  width: 31.9%;
  background-color: rgba(169, 169, 169, 0.46);
  border-radius: 4px;
  margin: 2px;
}
.input-circle-slice__content{
  padding: 2px;
  border: 1px solid grey;
  border-radius: 4px;
}
.answer-btn{
  width: 100%;
  display: block;
  border-radius: 0px;
}
.answer-btn:hover{
  background-color: rgba(255, 255, 255, 0.2) !important; 
}
.btn-warning{
  background-color: rgba(99, 109, 141, 0.56);
  border: none;
}
#slice-content--one{
    background-color: #F48FB1;
}
#slice-content--two{
    background-color: #BA68C8;
}
#slice-content--three{
    background-color: #FF8A65;
}
#slice-content--four{
    background-color: #EF6C00;
}
#slice-content--five{
    background-color: #84FFFF;
}
#slice-content--six{
    background-color: #FFC400;
}
#slice-content--seven{
    background-color: #3F51B5;
}
#slice-content--eight{
    background-color: #EC407A;
}
