%head 

%body
  = render 'exercise/shared/sidebar'
  .exercise_container
    #exercise
      %h1 {{exercise.title}}
      <snippet :exercise='exercise' v-for="n in exercise.amount_of_exercises">Hi</snippet>

  :javascript
