%head 

%body
  %h1
    Exercise 1
  .myPanel

  :javascript
    var notes = {
      "key": "C",
      "type": "interval",
      "sound": "piano",
      "difficulty": "easy",
      "all_notes": [
        { "key": "c/4", "duration" :"q" },
        { "key": "d/4", "duration" :"q" }
      ]
    }

    var myPanel = document.getElementsByClassName('myPanel')[0]
    var mySnippet = new Snippet(notes, myPanel)
    mySnippet.render()
    mySnippet.render()
    mySnippet.render()
    mySnippet.render()
    mySnippet.render()
    mySnippet.render()
    mySnippet.render()
    mySnippet.render()
    mySnippet.render()
    mySnippet.render()
    mySnippet.render()
