// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto')
body 
  font-family: "Roboto", Helvetica Neue, Arial
.hero
  background-color: gold
  background-size: cover
  padding: 8px 0 4rem 0
  @media screen and (min-width: 720px)
    padding: 8px 0 2.4rem 0
    background-size: 100% 
    height: 14rem
    width: 100%

.hero__header
  font-family: "Roboto", Helvetica Neue, Arial
  text-align: center
  font-weight: 200
  margin-top: 2rem
  margin-bottom: 0.3rem
  font-size: 2rem
  color: black
  @media screen and (min-width: 720px)
    font-size: 3rem
.hero__subheader
  font-family: "Roboto", Helvetica Neue, Arial
  text-align: center
  font-weight: 200
  margin-bottom: 2.5rem
  font-size: 1.25rem
  color: black
  // line-height: 1.8rem
  @media screen and (min-width: 720px)
    font-size: 1.7rem
.hero__tagline
  font-family: 'Roboto', Helvetica Neue, Arial
  text-align: center
  color: white
  font-size: 16px
  a
    color: white
    text-decoration: underline

.feature_grid
  background-color: dark-gray
  padding: 3rem 0rem 3rem
  border-bottom: 1px solid #e4e4e4 
  background-color: white
.feature_block
  display: block
  margin: 0 auto
  &:last-child
    border-right: none
  border-right: 1px solid #e4e4e4
.feature_block__image
  display: block
  width: 70px
  height: 70px
  background-size: cover
  margin: auto
.feature_block__image--lessons
  background-image: image-url('home/icons/mortarboard.svg')
.feature_block__image--exercises
  background-image: image-url('home/icons/open-book.svg')
.feature_block__image--training
  background-image: image-url('home/icons/ear.svg')
.feature_block__header
  display: block
  font-weight: light
  font-size: 16px
  text-align: center
.feature_block__subheader
  text-align: center
  font-size: 12px
  font-weight: light
  
.feature_showcase
  padding: 4rem 0rem 4rem
  background-color: #252424 
  height: 30vh
.feature_showcase__img
  width: 600px
  height: 400px
  background-size: cover
  margin: auto
.feature_showcase__img--product
  background-image: image-url('home/product_screen.png')
.feature_showcase__header
  text-align: center
  color: white
  font-weight: 300
.register_button
  border: 1px solid black
  border-radius: 2px
  background-color: rgba(0,0,0,0) !important
  font-size: 16px !important
  width: 49% !important
  display: inline-block !important
  margin: auto !important
  color: black !important
  float: right
  &--full
    width: 100% !important

.white_blocker
  background-color: white
  height: 200px
