%body
  = render 'exercises/shared/sidebar'
  .exercise_container
    .row 
      .small-12.columns
        #exercise
          %h1 {{exercise.title}}
          <h1 v-if="exercise_amount < 1">DONE!</h1>
          <h3 v-if="exercise_amount < 1">Points: {{all_points}} </h3>
          <template v-for="(snippet, index) in exercise.json_data">
          <snippet v-on:add_points='add_points' :snippet_data='snippet' :index='index' v-on:delete="delete_snippet(index)"></snippet>
          </template>

  :javascript
