- content_for :javascript_files do
  = javascript_include_tag :exercise

%body
  = render 'exercises/shared/sidebar'
  #exercise
    %h1.topbar 
      {{exercise.title}}
      .topbar__user{id: current_user.id}
    .exercise_container
      .row 
        .small-12.columns
          <div v-cloak>
          <h1 class='exercise__message' v-if="exercise_amount < 1">Good job!</h1>
          <h3 class='exercise__message' v-if="exercise_amount < 1">you earned: {{all_points}} points</h3>
          <a class='exercise__back_link'href='/dashboard/index' v-if="exercise_amount < 1">&#8592; back</a>
          <template v-for="(snippet, index) in exercise.json_data">
          <snippet v-on:add_points='add_points' :snippet_data='snippet' :index='index' v-on:delete="delete_snippet(index)"></snippet>
          </template>
          </div>

  :javascript
